<div class="container">
<h1>Edit</h1>
</div>

<%= form_with(model: @content, local: true) do |f| %>

    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
  
    <p>
      <%= f.label :slug %><br/>
      <%= f.text_field :slug %>
    </p>
  
    <p>
      <%= f.submit %>
    </p>
  
  <% end %> 
</div>  