<% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
<% end %>
<%= form_with  model: [:admin, @category, @content] do |f| %>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label :title, { class: "form-label"} %></strong>
        <%= f.text_field :title, { class: "form-control", placeholder: "Title" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label :slug, { class: "form-label"} %></strong>
        <%= f.text_field :slug, { class: "form-control", placeholder: "Slug" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label :excerpt, { class: "form-label"} %></strong>
        <%= f.text_area :excerpt, { class: "form-control", placeholder: "Excerpt" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label :content, { class: "form-label"} %></strong>
        <%= f.text_area :content, { class: "form-control", placeholder: "Content" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="w-25 p-4">
        <strong><%= f.label :ui_type, { class: "form-label"} %></strong>
        <%= f.text_field :ui_type, { class: "form-control", placeholder: "UI Type" } %>
      </div>

      <div class="w-25 p-4">
        <strong><%= f.label :hover_button_type, { class: "form-label"} %></strong>
        <%= f.text_field :hover_button_type, { class: "form-control", placeholder: "" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label :thumbmedia_url, { class: "form-label"} %></strong>
        <%= f.text_field :thumbmedia_url, { class: "form-control", placeholder: "" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label :custom_meta_tag, { class: "form-label"} %></strong>
        <%= f.text_area :custom_meta_tag, { class: "form-control", placeholder: "" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label :meta_tag_description, { class: "form-label"} %></strong>
        <%= f.text_area :meta_tag_description, { class: "form-control", placeholder: "" } %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label "tag_list_(',' separated)", { class: "form-label"} %></strong>
        <%= f.text_area :tag_list, { class: "form-control", placeholder: "" }  %>
      </div>
    </div>

    <br/>
    <div class="row g-5 align-items-center">
      <div class="col">
        <strong><%= f.label "Related Artile", { class: "form-label"} %></strong>
        <%= f.collection_select(
                :related_content_ids,
                @available_contents,
                :id,
                :title,
                { selected: @selected_content, include_hidden: false },
                { :multiple => true, :size => 14, class: "form-control" }
            )
        %>
      </div>
    </div>

    <br/>
    <div class="form-check">
      <%= f.check_box :active,  checked: @content.active, checked_value: "1", unchecked_value: "0" %>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Active
      </label>
    </div>

    <br/>
    <div class="form-check">
      <%= f.check_box :menu_visibility,  checked: @content.menu_visibility, checked_value: "1", unchecked_value: "0" %>
      <label class="form-check-label" for="flexCheckIndeterminate">
        Menu Visibility
      </label>
    </div>


    <div class="row g-5 align-items-center">
      <div class="w-10 p-4">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', admin_content_contents_path(@category) %>
      </div>
    </div>

<% end %>
</div>
</div>