<div class="container">

  <% flash.each do |type, msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
      </div>
  <% end %>

  <button class="btn"><%= link_to "New Sub Categories", new_admin_content_content_path%></td></button></a>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th></th>
    </tr>
    <%@sub_categories.each do |sub_category| %>
    <tr>
      <td><%=link_to sub_category.title, admin_content_path(sub_category)%></td>
      <td><%=sub_category.slug%></td>
      <td><%=link_to "Edit", edit_admin_content_content_path(@category, sub_category)%></td>
    </tr>
    <%end%>
  </table>
</div>