<div class="container">
  <div class="row">
    <div class="span6">
      <ul>
        <li>Name: <strong><%=@lead.name %></strong></li>
        <li>Email: <strong><%=@lead.email%></strong></li>
        <li>Source: <strong><%=@lead.source%></strong></li>
        <li>Contact: <strong><%=@lead.phone_number%></strong></li>
        <li>Form Data: <strong><%=@lead.form_data%></strong></li>
        <li>IP: <strong><%=@lead.ip%></strong></li>
        <li>Device: <strong><%=@lead.device%></strong></li>
        <li>Article: <strong><%=@lead.article%></strong></li>
        <li>Form Name: <strong><%=@lead.form_name%></strong></li>
        <li>Comments: <strong><%=@lead.comments%></strong></li>
        <li>Status: <strong><%=@lead.status%></strong></li>
        <li>Created At: <strong><%=@lead.created_at%></strong></li>
      </ul>
    </div>
  </div>
</div>

  