<div class="container">
  <h1><%=@content.title %></h1>

  <div class="row">

    <div class="span6">
      <img class="img-fluid" src="<%=@content.thumbmedia_url%>" alt="">
    </div>

    <div class="span6">
      <h3 class="my-3">Excerpt</h3>
      <p><%=@content.excerpt%></p>
      <h3 class="my-3">Details</h3>
      <ul>
        <li>Slug: <strong><%=@content.slug%></strong></li>
        <li>Likes Count: <strong><%=@content.like_count%></strong></li>
        <li>Comments Count: <strong><%=@content.comment_count%></strong></li>
        <li>Active: <strong><%=@content.active%></strong></li>
        <li>Visible in Top Nav: <strong><%=@content.menu_visibility%></strong></li>
        <li>View Priority: <strong><%=@content.view_priority%></strong></li>
        <li>Valid Till: <strong><%=@content.valid_till%></strong></li>
        <li>Created: <strong><%=@content.created_at%></strong></li>
        <li>Last Updated: <strong><%=@content.updated_at%></strong></li>
      </ul>
    </div>

  </div>
</div>