<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookmygaddiWeb Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link rel="stylesheet" href="/css/normalize.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-1.9.0.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render "layouts/admin/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "layouts/admin/footer" %>

    <script src="/js/bootstrap.js"></script>

  </body>
</html>
