<div class="container">
<h1>Edit</h1>
</div>

<%= form_with(model: @category, local: true,method: 'put', url: admin_category_path, action: 'edit') do |f| %>

    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
  
    <p>
      <%= f.label :slug %><br/>
      <%= f.text_field :slug %>
    </p>
  
    <p>
      <%= f.submit %>
    </p>
    <%= link_to 'Back', admin_categories_path %>
  <% end %> 
</div>  