<div class="container">
<h1>New</h1>
</div> 
<div class="container">   
<h1>Create a new article</h1>
 
<%= form_with scope: :content,method: 'post', url: admin_categories_path, local: true do |f| %>
  <p> 
    <%= f.label :title %><br/> 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br/> 
    <%= f.text_field :slug %> 
  </p>
  <p>
    <%= f.label :excerpt %><br/> 
    <%= f.text_area :excerpt %> 
  </p>
  <p>
    <%= f.label :content %><br/> 
    <%= f.text_area :content %> 
  </p>
  <p>
    <%= f.label :ui_type %><br/> 
    <%= f.text_field :ui_type %> 
  </p>
  <p>
    <%= f.label :hover_button_type %><br/> 
    <%= f.text_field :hover_button_type %> 
  </p>
  <p>
    <%= f.label :menu_visibility %><br/> 
    <%= f.text_field :menu_visibility %> 
  </p>
  <p>
    <%= f.label :thumbmedia_url %><br/> 
    <%= f.text_field :thumbmedia_url %> 
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back', admin_categories_path %>
<% end %>
</div>  
