<div class="container">
<h1>New</h1>
</div> 
<div class="container">   
<h1>Create a new article</h1>
 
<%= form_with scope: :categories,method: 'post', url: admin_categories_path, local: true do |f| %>
  <p> 
    <%= f.label :title %><br/> 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br/> 
    <%= f.text_field :slug %> 
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back', admin_categories_path %>
<% end %>
</div>  
