<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookmygaddiWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/normalize.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="https://masonry.desandro.com/masonry.pkgd.js"></script>
    <script type="text/javascript" src="/js/form_handler.js"></script>

    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <a class="fixedButton" href=" https://wa.me/919876727393"><img alt="Whatsapp" src="/img/logo.png" height="60px", width= "60px">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/616d4f01f7c0440a591ec1b8/1fi9fp8gp';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
